<div class="form-group">
    <label for='fullName'>ФИО</label>
    <input required value="<%= faculty.faculty %>" type="text" name="faculty id='faculty' class="form-control">
</div>
<br>
<br>

<br>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>