<div class="sidenav">
    <a href="#"></a>
    <a href="#">Факультеты</a>
    <a href="#">Кафедры</a>
    <a href="#">Направления</a>
    <a href="#">Группы</a>
    <a href="#">Студенты</a>
    <a href="#">Обходные листы</a>
    <a href="#">Структурные подразделения</a>
</div>